<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listeners.Testlisteners"></listener>
	</listeners>
  <test thread-count="5" name="MagnetoTestSuite">
    <classes>
      <class name="tests.CreateAccountTest"/>
      <class name="tests.SignInSignOuTest"/>
      <class name="tests.PlaceOrderTests"/>
      <class name="tests.HomePageTests"/>
    </classes>
  </test> <!-- MagnetoTestSuite -->
</suite> <!-- Suite -->
